.controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .radio {
    margin-top: 5px;

    label {
      padding-right: 10px;
    }

    span {
      font-size: 14px;
    }
  }
}
